.dashboard {
	display: grid;
	grid-template-columns: 256px auto;
	grid-template-rows: 1fr;
	grid-column-gap: 100px;
	grid-row-gap: 0px;
	height: 100vh;
	margin-top: 72px;
	padding: 24px;
	width: 100%;
}
.side-bar {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 8px 0 0 0;
}
.side-bar .links {
	display: flex;
	flex-direction: column;
	width: 200px;
	align-items: center;
	justify-content: space-around;
}
.profile-img {
	display: inline-block;
	width: 200px;
	height: 200px;
	object-fit: cover;
	padding: 0;
	margin: 4px;
	border-radius: 50%;
}
.list {
	border-radius: 12px;
	margin-bottom: 24px;
	text-align: left;
}

.card-group {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-column-gap: 4px;
	grid-row-gap: 4px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 320px;
	height: 180px;
	/* margin: 4px; */
	padding: 4px;
	border-radius: 25px;
}

.card-img {
	display: inline-block;
	width: 160px;
	height: 80px;
	object-fit: cover;
	padding: 0;
	margin: 4px;
}
.student-card-avatar {
	display: inline-block;
	width: 100px;
	height: 100px;
	object-fit: cover;
	padding: 0;
	margin: 4px;
	border-radius: 50%;
}
.card-img:hover {
	transform: scale(1.5);
}
.card-price {
	font-size: 24px;
}
.card-info {
	color: #474646;
}
.card-info:hover {
	color: #e3b345;
}
